iframe{
    height: 80vh;;
}
.screen{
    gap: var(--size-12);
    padding: var(--size-12);
}
.video-desc{
    box-shadow: 0 0 8px var(--red-400);
     padding: var(--size-12) ;
}
.video-opt{
    padding: var(--size-08);
    gap: var(--size-12);
    background-color: var(--red-400); 
}
.video-title{
    padding: var(--size-08);
    background-color: var(--red-400); 
}